@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* line 8, ../scss/style.scss */
.navbar {
  border-radius: 0;
}

/* line 12, ../scss/style.scss */
a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: #333333;
}

/* line 17, ../scss/style.scss */
.list-group {
  margin-right: 50px;
  margin-top: 30px;
}

/* line 22, ../scss/style.scss */
footer {
  margin-top: 30px;
  padding: 20px 0 10px 0;
  text-align: center;
  background-color: #1f87c2;
  color: white;
  text-size: 1.6em;
}

/* line 31, ../scss/style.scss */
table#sort-table th {
  cursor: pointer;
}

/* line 35, ../scss/style.scss */
body#login {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eeeeee;
  color: #333333;
}
/* line 41, ../scss/style.scss */
body#login h2 {
  color: #333333;
}
/* line 45, ../scss/style.scss */
body#login .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
/* line 51, ../scss/style.scss */
body#login .form-signin .form-signin-heading,
body#login .form-signin .checkbox {
  margin-bottom: 10px;
}
/* line 54, ../scss/style.scss */
body#login .form-signin .checkbox {
  font-weight: normal;
}
/* line 57, ../scss/style.scss */
body#login .form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
/* line 66, ../scss/style.scss */
body#login .form-signin .form-control:focus {
  z-index: 2;
}
/* line 69, ../scss/style.scss */
body#login .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 74, ../scss/style.scss */
body#login .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 80, ../scss/style.scss */
body#login .divider {
  background-color: #333333;
}
